:root {
  --color-bg: #f6f6ef;
  --color-text: rgb(33, 33, 33);
  --color-text-offset: rgb(92, 91, 91);
  --color-primary: rgb(194, 2, 2);
}

body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background: var(--color-bg);
}

p {
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0.05ch;
  color: var(--color-text);
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
